/* https://coolors.co/003049-00476d-dc4141-f77f00-fcbf49-f1ecd0 */
:root {
	--background: #002f4907;
	--color: #000000;
	--selection: #003049;
	--antiselection: #eae2b7;
	--link: #0077B8;

	--bae: #bae;
	--warm: #415;
	--dawn: #510;
	--vine: #4ea;
	--vein: #707;
	--swag: #925;
	--swab: #bff;
	--gold: gold;
	--rush: #707;
	--wish: #bae4ea;
	--wash: #415;

	--rock: #003049;
	--antirock: #F0EAD6;
	--lightrock: #00476d;
	--antilightrock: #F0EAD6;
	--golt: #FCBF49;
	--swat: #DC4141;
	--black: Black;
	--white: WhiteSmoke;
	--chesslight: #F0D9B5;
	--chessdark: #B58863;

}

[data-theme="dark"] {
	/* --background: #292929; */
	/*--background: #1f1f1f; /* lighter */
	/* light to dark */
	/* --background: #003952; */
	/* --background: #002B3D; */
	--background: #001B29;
	/*--background: #000E14; /* darker */
	--color: #ffff;
	--selection: var(--golt);
	--antiselection: var(--rock);
	--link: #F77F00;


	--swat: #FCBF49;
	--golt: #DC4141;
	--rock: #0077B8;
	--antirock: #F0EAD6;
	--black: WhiteSmoke;
	--white: Black;
	--chesslight: #996C48;
	--chessdark: #F5E5CC;
}

::selection {
	background: var(--selection);
	color: var(--antiselection);
}

:link:hover,
:focus {
	outline-color: Black;
	outline-width: 0.25rem;
	outline-style: solid;
}

:link:hover:not(.img):not(.relax) {
	filter: invert(100%);
}

:link {
	transition: 100ms;
	transition-property: filter;
}

* {
	box-sizing: border-box;
	text-align: justify;
}

html {
	line-height: 2;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: Montserrat, sans-serif;
	margin: auto;
	padding: 1em;
	padding: 2vw;
	background: var(--background);
	color: var(--color);
}

img.full {
	max-width: 100%;
	max-height: 100%;
}

.finger {
	margin: 0;
	display: table;
	padding: .236em .618em;
	line-height: 2;
	font-size: inherit;
}

.finger.inline {
	display: inline-block;
	padding-inline: 0.236em;
}

a {
	text-decoration: underline;
	color:var(--link);
}

a.relax{
	text-decoration: inherit;
	color: inherit;
}

.finger+.finger {
	margin-top: -1px;
}

/*.finger + .finger {
	margin-top: -1px;
}*/

.relax {
	font: inherit;
}

.tight {
	margin: 0;
	padding: 0;
}

.hella {
	font-weight: 550;
}

.charming {
	font-family: Quicksand;
}

.midly {
	text-align: center;
}

.undertow {
	margin-bottom: 2rem;
}

.stormsurge {
	margin-bottom: 5rem;
}

.forehead {
	margin-top: 2rem;
}

.touchable {
	cursor: pointer;
}

@media (min-width: 20rem) {
	.\+\+ {
		font-size: 1.22em;
	}

	.\+\+\+ {
		font-size: 1.66em;
	}

	.\+\+\+\+ {
		font-size: 2.66em;
	}
}

.avoid {
	display: none !important;
}

.text {
	font-size: 0.8em;
}

#dark-mode-toggle {
	display: none;
}

.toggle {
	display: inline-block;
	width: 60px;
	height: 30px;
	background: var(--rock);
	border-radius: 30px;
	position: relative;
	cursor: pointer;
	transition: background 0.4s;
}

.toggle::before {
	content: "";
	position: absolute;
	top: 3px;
	left: 3px;
	width: 24px;
	height: 24px;
	background: var(--antirock);
	border-radius: 50%;
	transition: transform 0.4s;
}

#dark-mode-toggle:checked+.toggle::before {
	transform: translateX(30px);
}

/* Bae : https://github.com/s9a/bae */
.bae-clean:not(.bae-unclean) { background:transparent; color:inherit }
.bae-flat:not(.bae-unflat),
.bae-flat:not(.bae-unflat) { border-color:transparent }
.bae-warm{ color:var(--warm) !important; background:var(--bae) !important; }
.bae-cool{ color:var(--bae) !important; background:var(--warm) !important; }
.bae-dawn{ color:var(--dawn) !important; background:var(--bae) !important; }
.bae-dusk{ color:var(--bae) !important; background:var(--dawn) !important; }
.bae-vine{ color:var(--vein) !important; background:var(--vine) !important; }
.bae-vein{ color:var(--vine) !important; background:var(--rush) !important; }
.bae-swag{ color:var(--swag) !important; background:var(--swab) !important; }
.bae-swab{ color:var(--swab) !important; background:var(--swag) !important; }
.bae-gold{ color:var(--rush) !important; background:var(--gold) !important; }
.bae-rush{ color:var(--gold) !important; background:var(--rush) !important; }
.bae-wish{ color:var(--wish) !important; background:var(--warm) !important; }
.bae-wash{ color:var(--warm) !important; background:var(--wish) !important; }

.bae-rock{ color:var(--antirock) !important; background:var(--rock) !important; }
.bae-lightrock{ color:var(--antilightrock) !important; background:var(--lightrock) !important; }
.bae-stagram{ color:#fcaf45 !important; background:#415ce7 !important; }
.bae-kdin{ color:#000000 !important; background:#0077b5 !important; }
.bae-retro{ color:var(--white) !important; background:var(--black) !important; }
.bae-golt{ color:var(--swat) !important; background:var(--golt) !important; }
.bae-swat{ color:var(--golt) !important; background:var(--swat) !important; }
.bae-chess{ color:var(--chesslight) !important; background:var(--chessdark) !important; }

/*Responsive*/
@media (max-width: 575px) {
	h1 {
		font-size: 1.5rem;
	}

	h2 {
		font-size: 1.25rem;
	}

	h3 {
		font-size: 1rem;
	}

	.row {
		margin-left: 0px;
		margin-right: 0px;
	}

	@media (min-width: 20rem) {
		.\+\+ {
			font-size: 1em;
		}

		.\+\+\+ {
			font-size: 1.5em;
		}

		.\+\+\+\+ {
			font-size: 2.22em;
		}
	}
}
