.clear { margin-top: 4em; }
.dt { font-style: italic; text-align: right; padding: 0 1.5em 0 0; border-right: 1px solid #999; }
.dtcol { font-style: italic; padding: 0 1.5em 0 0; border-bottom: 1px solid #999;}
.location { color: var(--swat); text-align: right;}

/* Responsive */
@media (max-width: 575px) {
	.clear { margin-top: 2em; }
}
